<div class="d-flex justify-content-center align-items-center overlay">
  
  <div class="d-flex flex-direction-column align-items-center login-form">
    <span class="login-form-title">The Numbers Game</span>
    <form class="d-flex flex-direction-column align-items-between" [formGroup]="form" (ngSubmit)="joinGame()">
    
    <label>
        Username:
        <input formControlName="username" type="text">
      </label>
      <button 
        class="join-game-btn"
        type="submit"
        [disabled]="!form.valid">
        Join
      </button>
    </form>
  </div>
</div>