.overlay {
  color: white;
  background-color: rgba(0,0,0,0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.login-form {
  border: 3px dashed yellow;
  border-radius: 10px;
  background-color: rgba(77, 125, 87, 1);
  font-size: 20px;
  height: 400px;
  width: 400px;
  opacity: 1;
  box-shadow: 0 0 0 4px rgba(87, 117, 94, 1), 0 4px 60px 10px rgba(0, 0, 0, 0.9);

  .login-form-title {
    font-size: 30px;
  }
}

.join-game-btn {
  border: 0;
  background: orange;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
  margin-top: 40px;
}