@import '../../../../sass/styles';

ul {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid white;
  height: 150px;
  width: 220px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}