.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-between {
  align-items: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}
