$halftone-bg-size: 1.2rem;
$halftone-bg-position-start: 0 0, ($halftone-bg-size / 2) ($halftone-bg-size / 2);
$halftone-bg-position-end: ($halftone-bg-size / 2) ($halftone-bg-size / 2), $halftone-bg-size $halftone-bg-size;