@import './flex';
@import './fonts';
@import './keyframes';
@import './mixins';
@import './variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Bowlby One SC', cursive;
  background-color: #1c252e;
  margin: 0;
}

.float-right {
  float: right;
}

.width-100 {
  width: 100%;
}