@import './flex';
@import './fonts';
@import './keyframes';
@import './mixins';
@import './variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #497959;
  font-family: 'Bowlby One SC', cursive;
  background-image: url('https://res.cloudinary.com/deeucxgdi/image/upload/v1542697005/mhlfbvj0zclqki8pyxde.png');  
}

.float-right {
  float: right;
}

.width-100 {
  width: 100%;
}